<p id="notice"><%= notice %></p>

<h1>Whiteboards Tables</h1>

<table>
  <thead>
    <tr>
      <th>Room</th>
      <th>Available</th>
      <th>Quantity</th>
      <th>Description</th>
      <th>Privilege</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @whiteboards_tables.each do |whiteboards_table| %>
      <tr>
        <td><%= whiteboards_table.room %></td>
        <td><%= whiteboards_table.available %></td>
        <td><%= whiteboards_table.quantity %></td>
        <td><%= whiteboards_table.description %></td>
        <td><%= whiteboards_table.privilege %></td>
        <td><%= link_to 'Show', whiteboards_table %></td>
        <td><%= link_to 'Edit', edit_whiteboards_table_path(whiteboards_table) %></td>
        <td><%= link_to 'Destroy', whiteboards_table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Whiteboards Table', new_whiteboards_table_path %>
