<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @whiteboards_table.room %>
</p>

<p>
  <strong>Available:</strong>
  <%= @whiteboards_table.available %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @whiteboards_table.quantity %>
</p>

<p>
  <strong>Description:</strong>
  <%= @whiteboards_table.description %>
</p>

<p>
  <strong>Privilege:</strong>
  <%= @whiteboards_table.privilege %>
</p>

<%= link_to 'Edit', edit_whiteboards_table_path(@whiteboards_table) %> |
<%= link_to 'Back', whiteboards_tables_path %>
