<%= already? %>
<%= stylesheet_link_tag "style" %>

<div class="logo"></div>
<div class="login-block">
      <%= flash[:danger] %>
      <h1>WYA</h1>

      <%= form_for(:session, url: login_path) do |f| %>
            <input type="text" placeholder="Username" id="username" <%= f.email_field :email %>
            <input type="password" placeholder="Password" id="password" <%= f.password_field :password %>
            <button>Submit</button>
      <% end %>

</div>