<%= already? %>
<%= stylesheet_link_tag "style" %>

<div class="logo"><img src="file:///MacintoshHD/Users/bekabaidarashvili/Desktop/wyalogo.png" alt="WYA logo"></div>

<div class="login-block">
      <%= flash[:danger] %>
      <h1>WYA</h1>

      <%= form_for(:session, url: login_path) do |f| %>
            <input type="text" placeholder="Username" id="username" <%= f.email_field :email %>
            <input type="password" placeholder="Password" id="password" <%= f.password_field :password %>
            <button>Submit</button>
      <% end %>

  <button class="logo"><%= link_to 'Guests ', resources_path(session) %></button>
</div>