<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @laptops_table.room %>
</p>

<p>
  <strong>Available:</strong>
  <%= @laptops_table.available %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @laptops_table.quantity %>
</p>

<p>
  <strong>Description:</strong>
  <%= @laptops_table.description %>
</p>

<p>
  <strong>Privilege:</strong>
  <%= @laptops_table.privilege %>
</p>

<%= link_to 'Edit', edit_laptops_table_path(@laptops_table) %> |
<%= link_to 'Back', laptops_tables_path %>
