<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @resource.location %>
</p>

<p>
  <strong>Privilege:</strong>
  <%= @resource.privilege %>
</p>

<p>
  <strong>Description:</strong>
  <%= @resource.description %>
</p>

<p>
  <strong>Available:</strong>
  <%= @resource.available %>
</p>

<p>
  <strong>Type:</strong>
  <%= @resource.resource_type %>
</p>


<% if logged_in? %><%= link_to 'Edit', edit_resource_path(@resource) %>|<% end %>

<%= link_to 'Back', resources_path %>

<% if logged_in? %><br><%= link_to "Log out", logout_path, method: "destroy" %></br><% end %>
