<p id="notice"><%= notice %></p>

<h1>Rooms Tables</h1>

<table>
  <thead>
    <tr>
      <th>Room</th>
      <th>Available</th>
      <th>Quantity</th>
      <th>Description</th>
      <th>Privilege</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms_tables.each do |rooms_table| %>
      <tr>
        <td><%= rooms_table.room %></td>
        <td><%= rooms_table.available %></td>
        <td><%= rooms_table.quantity %></td>
        <td><%= rooms_table.description %></td>
        <td><%= rooms_table.privilege %></td>
        <td><%= link_to 'Show', rooms_table %></td>
        <td><%= link_to 'Edit', edit_rooms_table_path(rooms_table) %></td>
        <td><%= link_to 'Destroy', rooms_table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rooms Table', new_rooms_table_path %>
