<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @rooms_table.room %>
</p>

<p>
  <strong>Available:</strong>
  <%= @rooms_table.available %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @rooms_table.quantity %>
</p>

<p>
  <strong>Description:</strong>
  <%= @rooms_table.description %>
</p>

<p>
  <strong>Privilege:</strong>
  <%= @rooms_table.privilege %>
</p>

<%= link_to 'Edit', edit_rooms_table_path(@rooms_table) %> |
<%= link_to 'Back', rooms_tables_path %>
