<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @coffee_table.room %>
</p>

<p>
  <strong>Available:</strong>
  <%= @coffee_table.available %>
</p>

<p>
  <strong>Description:</strong>
  <%= @coffee_table.description %>
</p>

<p>
  <strong>Privilege:</strong>
  <%= @coffee_table.privilege %>
</p>

<%= link_to 'Edit', edit_coffee_table_path(@coffee_table) %> |
<%= link_to 'Back', coffee_tables_path %>
